{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}

  <div class="container">
    <h1>Authors</h1>

    {% for author in authors %}
    <div class="row">
      <div class="col-sm-4"><a href="#" class=""><img src="{{author.portrait}}" class="img-responsive"></a>
      </div>
      <div class="col-sm-8">
        <h3 class="title">{{author.last_name}}, {{author.first_name}}</h3>
        <p><span class="glyphicon glyphicon-info-sign"></span> Biography</p>
        <p>{{author.biography}}</p>
        <p><span class="glyphicon glyphicon-pencil"></span> Books</p>

            {% for join in joins %}
              {% if author.id == join.author_id %}
                <a href="#">{{join.title}}</a></p>
              {% endif %}
            {% endfor %}

      </div>
    </div>
    <hr>
    {% endfor %}

  </div>

{% endblock %}
