{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}

  <div class="container">

    <h1>Authors</h1>

    {% for author in authors %}
    <div class="row">
      <div class="col-sm-4"><a href="#" class=""><img src="{{author.portrait}}" class="img-responsive"></a>
      </div>
      <div class="col-sm-8">
        <h3 class="title">{{author.last_name}}, {{author.first_name}}</h3>
        <p><span class="glyphicon glyphicon-info-sign"></span> Biography</p>
        <p>{{author.biography}}</p>
        <p><span class="glyphicon glyphicon-pencil"></span> Books</p>

            {% for join in joins %}
              {% if author.id == join.author_id %}
                <a href="#">{{join.title}}</a></p>
              {% endif %}
            {% endfor %}
        <button class="btn btn-sm btn-danger delete-author-btn" data-id="{{author.id}}">Delete</button>
        <button type="button" class="btn btn-primary btn-sm update-author-btn" data-toggle="modal" data-target="#myModal" data-id="{{author.id}}" data-first_name="{{author.first_name}}" data-last_name="{{author.last_name}}" data-biography="{{author.biography}}" data-portrait="{{author.portrait}}">Update</button>

      </div>
    </div>
    <hr>
    {% endfor %}

  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <form id="modal-author-form">
            <div class="form-group">
              <input type="text" class="form-control" name="first_name" id="form-first_name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="last_name" id="form-last_name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="biography" id="form-biography">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="portrait" id="form-portrait">
            </div>
            <input type="hidden" name="id" id="form-id">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
