{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row" style="display:none" id="filterForm">
    <div class="col-lg-12">
      <form method="POST" action="/api/v1/books" class="form-inline">
        <div class="form-group">
          <label for="last_name">Genre</label>
          <select name="last_name" class="form-control" id="last_name">
          {% for book in books %}
           <option value="{{book.genre}}">{{book.genre}}</option>
          {% endfor %}
          </select>
        </div>
        <!-- <button type="submit" class="btn btn-default">Submit</button> -->
      </form>
    </div>
  </div>
</div>

  <div class="container">

    <h1>Books </h1>

    {% for book in books %}
    <div class="row">
      <div class="col-sm-4"><a href="#" class=""><img src="{{book.cover}}" class="img-responsive"></a>
      </div>
      <div class="col-sm-8">
        <h3 class="title">{{book.title}}</h3>
        <p><span class="glyphicon glyphicon-info-sign"></span> Description</p>
        <p>{{book.description}}</p>
        <br>
        <p><span class="glyphicon glyphicon-film"></span> Genre</p>
        <p>{{book.genre}}</p>
        <br>
        <p><span class="glyphicon glyphicon-pencil"></span> Author(s)</p>
            {% for join in joins %}
              {% if book.id == join.book_id %}
                <a href="#">{{join.first_name}} , {{join.last_name}}</a></p>
              {% endif %}
            {% endfor %}

      </div>
    </div>
    <hr>
    {% endfor %}

  </div>

{% endblock %}
