{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row" id="filterForm">

    <div class="col-md-2">
      <form method="POST" action="/api/v1/books/searchTitle" class="form-inline">
        <div class="form-group">
          <label for="searchTitle">Search Title</label>
          <input type="text" class="form-control" id="searchTitle" name="searchTitle">
        </div>
        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
      </form>
    </div>

    <div class="col-md-2">
      <form method="POST" action="/api/v1/" class="form-inline">
        <div class="form-group">
          <label for="last_name">Genre</label>
          <select name="last_name" class="form-control" id="last_name">
          {% for book in books %}
           <option value="{{book.genre}}">{{book.genre}}</option>
          {% endfor %}
          </select>
        </div>
        <!-- <button type="submit" class="btn btn-default">Submit</button> -->
      </form>
    </div>
  </div>
</div>

  <div class="container">

    <h1>Books </h1>

    {% for book in books %}
    <div class="row">
      <div class="col-sm-4"><a href="#" class=""><img src="{{book.cover}}" class="img-responsive"></a>
      </div>
      <div class="col-sm-8">
        <h3 class="title">{{book.title}}</h3>
        <p><span class="glyphicon glyphicon-info-sign"></span> Description</p>
        <p>{{book.description}}</p>
        <br>
        <p><span class="glyphicon glyphicon-film"></span> Genre</p>
        <p>{{book.genre}}</p>
        <br>
        <p><span class="glyphicon glyphicon-pencil"></span> Author(s)</p>
            {% for join in joins %}
              {% if book.id == join.book_id %}
                <a href="#">{{join.first_name}} , {{join.last_name}}</a></p>
              {% endif %}
            {% endfor %}
        <button class="btn btn-sm btn-danger delete-book-btn" data-id="{{book.id}}">Delete</button>
        <button type="button" class="btn btn-primary btn-sm update-book-btn" data-toggle="modal" data-target="#myModal" data-id="{{book.id}}" data-description="{{book.description}}" data-cover="{{book.cover}}" data-genre="{{book.genre}}" data-title="{{book.title}}">Update</button>
      </div>
    </div>
    <hr>
    {% endfor %}

  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <form id="modal-book-form">
            <div class="form-group">
              <input type="text" class="form-control" name="title" id="form-title">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="genre" id="form-genre">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="cover" id="form-cover">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="description" id="form-description">
            </div>
            <input type="hidden" name="id" id="form-id">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
